node_modules/
**/node_modules/
dist/
**/dist/
.env
*.env
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.tempmediaStorage/
.system_generated/
storage/surveys/
storage/db_store.json
backend/storage/

